<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.50">
    <link rel="shortcut icon" type="x-icon" href="image/iconceub.png">
    <link rel="stylesheet" href="css/template.css">
</head>
<body>
    <div id="conteiner_principal">
        <div id="header">
            <div id="user-bar1">
                <img id="image-ceub" src="image/iconceub.png" alt="Ceub-logo">
                <div id="text-servicos">Serviços</div>
                <div>
                    <a href="https://www.uniceub.br" class="links">Ceub</a>
                    <a href="Templatedic.html" class="links">Serviços</a>
                    <a href="Depoimento.html" class="links">Depoimento</a>
                    <a href="#contatos" class="links">Contato</a>
                    <a href="index.html" class="links" id="sair">Sair-Conta</a>
                </div>
            </div> 
        </div>
        <div id="midedle">
            <div id="left">
                <div class="fixar">
                    <div id="nomeDoUsuario">Bem Vindo {arthur}</div>
                <div id="tiposDeServicos">
                    <ul>
                        <li><a href="#">SELECT 1</a></li>
                        <li><a href="#">SELECT 2</a></li>
                        <li><a href="#">SELECT 3</a></li>
                        <li><a href="#">SELECT 4</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div id="content">
                 <!-- Primeira fileira -->
                <div>
                    <nav class="quadros1">
                        <div id="quadro_denuncia">
                            <div class="himage">
                                <img src="image/Acidente.jpg" style="width: 300px;">
                            </div>
                            <div class="paragrafo"> 
                                <!-- Acidente -->
                                <p id="text_quadrados">Acidente de Transito</p>
                            </div>
                            <div class="botaoQuadro">
                                <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></a> 
                            </div>
                        </div>
                        <nav class="quadros1">
                            <div id="quadro_denuncia">
                                <div class="himage">
                                    <img src="image/assedio.png" style="width: 300px;">
                                </div>
                                <div class="paragrafo"> 
                                    <!-- Assédio -->
                                    <p id="text_quadrados">Assédio</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                            <div id="quadro_denuncia">
                                <div class="himage">
                                    <img src="image/Desaparecimento.png" style="width: 300px;">
                                </div>
                                <div class="paragrafo"> 
                                    <!-- Desaparecimento -->
                                    <p id="text_quadrados">Desaparecimento de Pessoa</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                        
                    </nav>
                </div>
                <!-- Segunda fileira -->
                <div>
                    <nav class="quadros1">
                        <div id="quadro_denuncia">
                            <!-- Extravio -->
                            <div class="himage">
                                <img src="image/Extravi_Perda.jpg" style="width: 300px; height: 200px;">
                            </div>
                            <div class="paragrafo"> 
                                <p id="text_quadrados">Extravio / Perdao</p>
                            </div>
                            <div class="botaoQuadro">
                                <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></a> 
                            </div>
                        </div>
                        <nav class="quadros2">
                            <!-- Fraudes e Apropriaçoes -->
                            <div id="quadro_denuncia">
                                <div class="himage">
                                    <img src="image/Eselionato, Fraudes e Apropriaçoes.jpg" style="width: 300px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Fraudes e Apropriaçoes</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                            <div id="quadro_denuncia">
                                <!-- Furtos -->
                                <div class="himage">
                                    <img src="image/furto-de-celular.jpg" style="width: 300px;height: 210px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Furtos</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                    </nav>
                </div>
                <!-- Treceira fileira-->
                <div>
                    <nav class="quadros1">
                        <div id="quadro_denuncia">
                            <!-- Lesão Corporal -->
                            <div class="himage">
                                <img src="image/LesaoCorporal.png" style="width: 300px; height: 200px;">
                            </div>
                            <div class="paragrafo"> 
                                <p id="text_quadrados">Lesão Corporal</p>
                            </div>
                            <div class="botaoQuadro">
                                <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></a> 
                            </div>
                        </div>
                        <nav class="quadros2">
                            <!--  Brigas ou Ameaças -->
                            <div id="quadro_denuncia">
                                <div class="himage">
                                    <img src="image/briga.jpg" style="width: 300px; height: 210px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Brigas ou Ameaças</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                            <div id="quadro_denuncia">
                                <!-- Equipamentos Eletrônicos -->
                                <div class="himage">
                                    <img src="image/Manutenção de equipamentos eletrônicos.webp" style="width: 300px;height: 210px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Equipamentos Eletrônicos</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                    </nav>
                </div>
                <!-- Quatro fileira  -->
                <div>
                    <nav class="quadros1">
                        <div id="quadro_denuncia">
                            <!-- Instalações -->
                            <div class="himage">
                                <img src="image/Danos às Instalações.jpeg" style="width: 300px; height: 200px;">
                            </div>
                            <div class="paragrafo"> 
                                <p id="text_quadrados">Instalações</p>
                            </div>
                            <div class="botaoQuadro">
                                <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></a> 
                            </div>
                        </div>
                        <nav class="quadros2">
                            <!--  infraestrutura -->
                            <div id="quadro_denuncia">
                                <div class="himage">
                                    <img src="image/infraestrutura.png" style="width: 300px; height: 210px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Infraestrutura</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                            <div id="quadro_denuncia">
                                <!-- outros -->
                                <div class="himage">
                                    <img src="image/outros.png" style="width: 300px;height: 210px;">
                                </div>
                                <div class="paragrafo"> 
                                    <p id="text_quadrados">Outros</p>
                                </div>
                                <div class="botaoQuadro">
                                    <a class="buttonLink" href="Depoimento.html" style="font-size: medium;"><button class="buttons_quadrados2">REGISTRAR OCORRÊNCIA</button></a>
                                </div>
                            </div>
                    </nav>
                </div>
            </div>
            <!-- <div id="right"></div> -->
        </div>
        <div id="footer">
            <div id="final-bar">
                <p id="text_final"><br> de Atendimento: (61) 3966-1201 - central.atendimento@uniceub.br</p>
                <p id="text_final">Unidades:<br>
                Campus da Asa Norte: SEPN 707/907 - Campus Universitário<br>
                Campus II de Taguatinga: QS 1, Lote 1/17, Rua 214<br>
                Centro de Atendimento à Comunidade: Setor Comercial Sul, Quadra 1 - Edifício União, Brasília-DF</p>
            </div>
            <a name="contatos"></a>
        </div>
    </div>

</body>
</html>