<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.50">
    <link rel="shortcut icon" type="x-icon" href="image/iconceub.png">
    <link rel="stylesheet" href="css/user_login.css">
</head>
<body>
    <div id="user-bar1">
        <img id="image-ceub" src="image/iconceub.png" alt="Ceub-logo">
        <div id="text-servicos">Serviços</div>
        <div id="buttons">
            <button>Ceub</button>
            <button>Serviços</button>
            <button>Depoimento</button>
            <button>Contato</button>
        </div>
    </div> 
    <div id="user-bar">
       <h1 id="title">Bem Vindo a Ceub Servicos {nome}</h1> 
    </div>
    <nav id="quadros_denuncias">
        <div id="quadro_denuncia"><img src="image/Acidente.jpg"><p id="text_quadrados">Acidente de Transito</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/assedio.png"><p id="text_quadrados">Assédio</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/Desaparecimento.png"><p id="text_quadrados">Desaparecimento de Pessoa</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/Extravi_Perda.jpg"><p id="text_quadrados">Extravio / Perda</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
    </nav>
    <nav id="quadros_denuncias2">
        <div id="quadro_denuncia"><img src="image/Eselionato, Fraudes e Apropriaçoes.jpg"><p id="text_quadrados">Fraudes e Apropriaçoes</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/furto-de-celular.jpg"><p id="text_quadrados">Furtos</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/LesaoCorporal.png"><p id="text_quadrados">Lesão Corporal</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img id="foto_briga" src="image/briga.jpg"><p id="text_quadrados">Brigas ou Ameaças</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
    </nav>

    <nav id="quadros_denuncias2">
        <div id="quadro_denuncia"><img src="image/Manutenção de equipamentos eletrônicos.webp"><p id="text_quadrados">equipamentos eletrônicos</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/Danos às Instalações.jpeg"><p id="text_quadrados">Instalações</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/infraestrutura.png"><p id="text_quadrados">infraestrutura</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
        <div id="quadro_denuncia"><img src="image/outros.png"><p id="text_quadrados">outros</p><button id="buttons_quadrados">REGISTRAR OCORRÊNCIA</button></div>
    </nav>

    <div id="final-bar">
        <p id="text_final">Central de Atendimento: (61) 3966-1201 - central.atendimento@uniceub.br</p>
        <p id="text_final">Unidades:<br>
        Campus da Asa Norte: SEPN 707/907 - Campus Universitário<br>
        Campus II de Taguatinga: QS 1, Lote 1/17, Rua 214<br>
        Centro de Atendimento à Comunidade: Setor Comercial Sul, Quadra 1 - Edifício União, Brasília-DF</p>
    </div>
</body>
</html>