body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../image/background.png');
    background-size: cover;
    color: #fff;
}

form {
    background-color: #fff;
    font-size: 18px;
    background-color: rgba(234, 4, 138, 0.753);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    border: 2px solid rgba(32, 31, 31, 0.5);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
}

button {
    grid-column: span 2;
    /* background-color: #4caf50; */
    /* color: #fff; */
    background: #FAF9FA;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition-property: all;
    transition-duration: 1s;
}

button:hover {
    /* background-color: #45a049; */
    background-color: #44044C;
    color: #FAF9FA;
}

.termos {
    grid-column: span 2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 10px 0 5px;
    font-size: 1.0em;
    color: #f1faee;
    font-style: italic;
    display: inline-block;

}

.caixinha {
    color: #45a049;
    font-style: normal;
    font-size: large;
}

#habi {
    margin-right: 2px;


}

a {
    color: #f1faee;
}

.termos {
    display: flex;
    float: left;
}

#check {
    position: relative;
    top: -4px;
    left: 15px;
    width: 20%;
}

/* .termos label {
            display: inline-block; 
        }

        .termos input[type="checkbox"] {
            display: inline-block;
            vertical-align: middle;} */
