<!DOCTYPE html>
<html lang="PT-BR">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10 ; URL = ..\Pagina de loading\index.htm">  
    <title>Carregando</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="all">   
</head>

<body>
    <ul>
        <li>C</li>
        <li>A</li>
        <li>R</li>
        <li>R</li>
        <li>G</li>
        <li>A</li>
        <li>G</li>
        <li>A</li>
        <li>N</li>
        <li>D</li>
        <LI>O</LI>
        <!-- <li>.</li>
        <li>.</li>
        <li>.</li> -->
        
    </ul>
</body>
</html>
