<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home - CEUB Serviços</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.50">
    <link rel="shortcut icon" type="x-icon" href="../static/image/iconceub.png">
    <link rel="stylesheet" href="../static/css/template.css">
    <!---->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <style>
        .links:hover {

            /* color: rgb(227, 177, 239) ; */
            text-decoration: underline;
            background-color: rgb(234, 4, 138);
            border-radius: 6px;
            color: white;

        }

        body {
            margin: 0px;
            /* background-color: rgb(201, 198, 198) */
            background: linear-gradient(#44044C 7%, #A486A6, #A486A6 60%, #A486A6 20%, #44044C);
        }

        .col-sm-12 col-md-5 {
            margin-left: 0px;
        }

        .pagination {
            position: relative;
            top: -100px;
            left: -200px;
            background-color: transparent;
            border: none;
            align-items: center;
            backdrop-filter: blur(0px);

        }
    </style>
</head>

<body>
    <a name="cima"></a>
    <div id="conteiner_principal">
        <div id="header">
            <div id="user-bar1">
                <img id="image-ceub" src="../static/image/iconceub.png" alt="Ceub-logo">
                <div id="text-servicos">Serviços</div>
                <div>
                    <a href="https://www.uniceub.br" class="links">CEUB </a>
                    <a href="{{ url_for('home') }}" class="links"> Serviços </a>
                    <a href="{{ url_for('depoimento') }}" class="links"> Depoimento </a>
                    <a href="#contatos" class="links"> Contato </a>
                    <a href="{{ url_for('auth.logout') }}" class="links" id="sair"> Sair-Conta </a>
                </div>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="notification">{{ messages[0] }}</div>
            {% endif %} {% endwith %}
        </div>
        <div id="midedle">
            <div id="left" style=" width: 20%; height: 700px;">
                <div class="fixar">
                    <div id="nomeDoUsuario" style="width: 90%; margin-bottom: 10px;">Bem Vindo {{nome | safe}}</div>
                    <div id="tiposDeServicos" style="width: 100%; ">
                        <ul style="width: 90%;">
                            <li><a href="{{ url_for('depoimento') }}">Registrar Ocorrência</a></li>
                            <li><a href="{{ url_for('auth.ocorrencias_lista') }}">Listar Ocorrência</a></li>
                            <li><a href="#">Estatísticas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="content" style=" width: 80%; margin-top: 40px; height: 900px;">
                <div class="novaClasse" style="color: white;">
                    <div class="container" style="width:90%">
                        <table class="table table-striped table-bordered" id="sortTable" style="color: white;">
                            <thead>
                                <tr>
                                    <th>Tipo de Ocorrencia</th>
                                    <th>Lugar</th>
                                    <th>Email</th>
                                    <th>Data</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                                {{result_html | safe}}
                        </table>
                    </div>
                    <script>
                        $('#sortTable').DataTable();
                    </script>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="final-bar">
                <a href="#cima">
                    <img src="../static/image/upicon.png" id="up_icon" title="Vai Para Cima">
                </a>
                <p id="text_final"><br> De Atendimento: (61) 3966-1201 - central.atendimento@uniceub.br</p>
                <p id="text_final">Unidades:<br>
                    Campus da Asa Norte: SEPN 707/907 - Campus Universitário<br>
                    Campus II de Taguatinga: QS 1, Lote 1/17, Rua 214<br>
                    Centro de Atendimento à Comunidade: Setor Comercial Sul, Quadra 1 - Edifício União, Brasília-DF</p>
            </div>
            <a name="contatos"></a>
        </div>
    </div>
</body>

</html>
