<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      type="x-icon"
      href="../static/image/iconceub.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CEUB Serviços</title>
    <!-- <script>
      window.addEventListener('load', function() {
          // Simulate Ctrl + - keypress
          var event = new KeyboardEvent('keydown', {
              key: '-',
              ctrlKey: true
          });

          window.dispatchEvent(event);
      });
  </script> -->
    <style>
      header {
        text-align: center;
      }

      header img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      body {
        background: linear-gradient(#44044c 10%, #a486a6, #a486a6 80%, #44044c);
      }
    </style>
  </head>
  <body>
    <header>
      <img src="../static/image/Ceub.v2.1.svg" usemap="#site" alt="CEUBsvg" />
      <map name="site">
        
        <area
          shape="rect"
          coords="35,2,175,75"
          title="Ceub"
          alt="CEUB"
          href="https://www.uniceub.br/"
        />
        <area shape="rect" 
        coords="1027,13,1138,69" 
        title="Ceub"
        alt="CEUB"
        href="https://www.uniceub.br/"
        />
        <!-- Ceub -->
        <area shape="rect" 
        coords="1190,16,1308,66" 
        title="Login"
        alt="Login"
        href="{{ url_for('auth.login') }}"
        />
        <!-- Login -->      
        <area
          shape="rect"
          coords="1371,13,1551,69"
          title="Inscreve se"
          alt="Inscreve se"
          href="{{ url_for('auth.registro') }}"
        />
        <!-- Inscreve se -->
        <area
          shape="rect"
          coords="3,713,359,1103"
          title="Acidente de Transito"
          alt="Acidente de Transito"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Acidente de Transito -->
        <area
          shape="rect"
          coords="410,718,766,1097"
          title="Assédio"
          alt="Assédio"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Assédio  -->
        <area
          shape="rect"
          coords="826,721,1190,1103"
          title="Desaparecimento De Pessoa"
          alt="Desaparecimento De Pessoa"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Desaparecimento De Pessoa  -->
        <area
          shape="rect"
          coords="1235,717,1608,1095"
          title="Extravio / Perda"
          alt="Extravio / Perda"
          href="{{ url_for('auth.login') }}"
        />
        <!--  Extravio / Perda -->

        <area
          shape="rect"
          coords="1,1193,358,1570"
          title="Fraudes e Apropriaçoes"
          alt="Fraudes e Apropriaçoes"
          href="{{ url_for('auth.login') }}"
        />
        <!--  Fraudes e Apropriaçoes -->
        <area
          shape="rect"
          coords="406,1190,764,1578"
          title="Furtos"
          alt="Furtos"
          href="{{ url_for('auth.login') }}"
        />
        <!--  Furtos -->
        <area
          shape="rect"
          coords="816,1187,1195,1578"
          title="Lesão Corporal"
          alt="Lesão Corporal"
          href="{{ url_for('auth.login') }}"
        />
        <!--  Lesão Corporal -->
        <area
          shape="rect"
          coords="1231,1191,1604,1570"
          title="Brigas ou ameaças"
          alt="Brigas ou ameaças"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Brigas ou ameaças  -->

        <area
          shape="rect"
          coords="358,2039,2,1644"
          title="Manutenção de equipamentos eletrônicos"
          alt="Manutenção de equipamentos eletrônicos"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Manutenção de equipamentos eletrônicos  -->
        <area
          shape="rect"
          coords="774,2039,400,1638"
          title="Danos as Instalacoes"
          alt="Danos as Instalacoes"
          href="{{ url_for('auth.login') }}"
        />
        <!-- Danos às Instalações  -->
        <area
          shape="rect"
          coords="1188,2041,820,1642"
          title="Problema de Infraestrutura"
          alt=" Problema de Infraestrutura"
          href="{{ url_for('auth.login') }}"
        />
        <!--  Problema de infraestrutura -->
        <area
          shape="rect"
          coords="1223,1635,1594,2047"
          title="outros"
          alt="outros"
          href="{{ url_for('auth.login') }}"
        />
        <!--  outros -->
      </map>
    </header>
  </body>
</html>
